* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    height: 100%;
    width: 100%;
    overflow-x: none;
    background-color: #e9eff5;
    background-image: linear-gradient(160deg, #e9eff5 0%, #94b3af 100%);
  }
  
  .navContainer {
    width: 100%;
    background-color: #142d3b;
    background-image: linear-gradient(160deg, #142d3b 0%, #80d0c7 100%);
  
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  nav {
    width: 100%;
    padding-right: 2rem;
  }
  
  #navList {
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
      margin-right: 15px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #navLogo {
    font-size: 2.8rem;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: azure;
  }
  
  #navItems {
    display: flex;
    gap: 40px;
  }
   
  .footerBox {
    width: 100%;
    
    background-color: #142d3b;
    background-image: linear-gradient(160deg, #142d3b 0%, #80d0c7 100%);
  
    text-align: center;
    min-height: 30px;
  }
  
  .footerBox p {
    color: azure;
    font-size: 2rem;
  }
  
  .contentBox {
    width: 70%;
    margin: auto;
    /* border:2px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 3rem;
    box-shadow: 0px 1px 38px black;
  }
  
  hr{
    height: 2px;
    background-color: #a5b0bb;
    border: 2px solid #a5b0bb;
  }
  
  .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .rightBox {
    position: relative;
    overflow: hidden;
    transition: all 0.6s linear 0s;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .rightBox img {
    height: 250px;
    border-radius: 15px;
  }
  
  .rightBox:hover {
    transform: scale(1.1);
  }
  
  .leftBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .leftBox h2 {
    font-size: 2rem;
  }
  
  .ingBox {
    font-size: 1.3rem;
  }
  
  .recBox {
    font-size: 1.3rem;
  }
  
  .rightBox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(221, 209, 209);
    border-radius: 15px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
  }
  
  .rightBox .overlayText{
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: auto;
    left: auto;
    opacity: 0;
  }
  .rightBox:hover .overlayText{
    opacity: 1;
  }
  .rightBox:hover .overlay{
    opacity: 0.4;
  }

