.container{
    background-color: blueviolet;
    border: black 4px solid;
    margin: 3px;
    padding: 3px;
    display: flex;
}
.box{
    height: 200px;
    width: 200px;
    border: solid 3px black;
    margin: 2px;
    padding: 2px;

}

#BOX1{
background-color: aqua;
}
#BOX2{
    background-color: coral;
}
#BOX3{
    background-color: darkseagreen;
}
#BOX4{
    background-color: darkturquoise;
}







@media (min-width:640px)
{
.container{
    flex-direction: row;
}

}



@media(max-width:640px){
    .container{
        flex-direction:column;
        
    }
}





































































 















































































































  




















 










        









































































































































































































































































































































































































































































































































































































































