.container{

    border: solid 2px red;
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 300px;
    background-color: blueviolet;
}
#boxleft{
    border: solid 2px black;
    background-color: bisque;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
#boxright{
    border: solid 2px black;
    background-color: aquamarine;
    width: 50%;
}

p{
    border: dotted 2px black;
    height: 20px;

}
img{
    width: 225px;
    height: 175px ;

}
@media(max-width:640px){
    .container{
        flex-direction: column;
    }
}


