div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}


.translated{
    transform: perspective(10px)translateZ(-10px);


}
.scaled{
    transform: perspective(350px) scaleZ(2) rotateX(15deg) rotateY(30deg)
}